#For performance and security reasons, this file will have no effect, it's just meant for use in development environments
<IfVersion < 2.4>
    order allow,deny
    deny from all
</IfVersion>
<IfVersion >= 2.4>
    Require all denied
</IfVersion>

