div.breadcrumbs {
    display: none;
}

img.banner {
    width: 100%;
}

/* EDIÇÃO MENU LATERAL ADICIONANDO ICONS */
li.level0:nth-child(2) > span:nth-child(2) {
    position: relative;
    margin-top: -50px;
    display: block;
}

li.level0:nth-child(3) > span:nth-child(2) {
position: relative;
    margin-top: -50px;
    display: block;
}

ul.o-list:nth-child(2) {
    padding-right: 0px;
}

li.level0:nth-child(1) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_essencias.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(2) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_bases.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(3) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_materia.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(4) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_frascosplastico.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
} 

li.level0:nth-child(5) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_frascosvidro.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(6) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_rolhas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(7) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_formas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(8) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_varetas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(9) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_embalagens.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(10) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_velas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(11) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_materialapoio.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}


/* FIM EDIÇÃO MENU LATERAL ADICIONANDO ICONS */

/* EDIÇÃO PRODUTOS HOME */
.block.widget.block-products-list.grid {
    padding-left: 1.5vw;
}

product-image-wrapper {
    width: 14.1vw;
    height: 10.4vw;
    padding-bottom: 0px;
}
/*GAMBIARRA DAS BRABA*/
main#maincontent.page-main div.columns div.column.main div.products.wrapper.grid.products-grid ol.products.list.items.product-items li.item.product.product-item div.product-item-info div.product-item-details div.price-box.price-final_price div.price-box {
    display: none;
}

div.product-info-price div.price-box.price-final_price span.price {
    display: none;
}

/* FIM DA EDIÇÃO DE PRODUTOS HOME */

div.product-item-info {
   border: 0; 
   width: 205px;
   height: 360px;       
}

a.product-item-link {
    font-size: 12px !important;
}

span.price {
    color: #CF4348;
}

.product-item-actions .actions-primary + .actions-secondary {
    display: none;
}

.action.tocart.primary span {
    display: none;
}
.action.tocart.primary:after {
    content: 'COMPRAR';
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    bottom: 0.7vw;
    font-size: 14px;
}

.action.tocart.primary {
    width: 150px !important;
    height: 25px !important;
    background-color: #37D737 !important;
    margin-left: 2.5vw;
}

.gruod-pruduct .item-inner .actions-primary button::before {
    content: none;
}

.action.tocart.primary span {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    bottom: 0.7vw;
}

li.product-item {
    border: 0;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;

}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct {
    padding-top: 15vw;
}

strong.product-item-name {
    max-width: 200px;
    max-height: 50px;
    height: 50px;
}
/*  */
@supports (width: 100vw) {
  .full-banner {
    max-width: 100vw;
  }
  @media all and (min-width: 40rem) {
    .full-banner {
       transform: translateX(calc((56rem - 100vw)/2));
    }
  }
   @media all and (min-width: 60rem) {
    .full-banner {
       transform: translateX(calc((70rem - 100vw)/2));
    }
  }
}
/*.full-banner {
    max-width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -60vw;
    margin-right: -50vw;
} */

/* EDIÇÃO TITLE e sider bars */
div.block-title {
    display: none;
}

div.block:nth-child(9) > div:nth-child(1) {
    display: block;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title {
    display: none;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title h2.title, html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title div.text {
   /* display: none; */
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.cat_top {
    display: none;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct {
    margin-top: -900px;
}

.owl-prev, .owl-next {
   
}

.grud h3 {
    border-bottom: 1px solid #CC353A;
    text-transform: uppercase;
}

div.item {
    display: none;    
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div div.container-inner div.widget.box-section.block-recent-posts div.row div.ptowl.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item.active div.item {
    display: block;
}
/* NEWSLETTER BUTTON */
html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper footer.page-footer div.footer-container div.footer-newsletter div.container-inner div.newsletter form#newsletter-validate-detail.form.subscribe div.control button.action.subscribe.primary {
    background-color: #C20E14;
}

.footer-newsletter .newsletter .newsletter-title {
    padding-top: 10px;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper footer.page-footer div.footer-container div.footer-newsletter {
    padding-bottom: 90px;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper footer.page-footer div.footer-newsletter div.container-inner div.newsletter {
    display: none;
}

/* FIM NEWSLETTER */

div.footer-redesocial {
    padding-left: 80px;
}

.sidebar.sidebar-additional {
    display: none;
}

.c-sidebar.c-sidebar--categories h3{
    display: none;
}
/* EDIÇÃO MENU E SIDE BAR */

html body.cms-home.cms-page-view.page-layout-2columns-left div.page-wrapper main#maincontent.page-main div.columns div.sidebar.sidebar-additional {
    display: none;
}

/* EDIÇÃO MAIS VISTOS */
html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct div.container-inner div.row div.col-sm-4 div.new-product-slider div.owl-container div#new_product_slider.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item div.product_row div.product-items div.item-inner div.des.media-body div.product-name strong.product-item-name a.product-item-link {
    font-size: 18px !important;
    color: #323232;
}

div.product-items {
    width: 26.1vw;
    height: 12vw;
}

.buybuttom {
    width: 13.5vw !important;
    height: 1.8vw !important;
    background: #37D737 !important;
}

.gruod-pruduct .item-inner .actions-primary button {
    border-radius: 30px;
}

.buybuttom:hover {
    background: #37D737;
    border: none;
}

.span-comprar {
    position: relative;
    bottom: 0.5vw;
}

.price-box  .price-from {
    display: none;
}

.price-box .price {
    color: #CF4348;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct div.container-inner div.row div.col-sm-4 div.pt-recentproduct-container div.owl-container ul.ptowl.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item.active li.item div.product-items div.item-inner div.des.media-body div.add-to-links-secondary {
    display: none;
}

/* FIM MAIS VISTOS */

/* EDIÇÃO DO FOOTER */

header_style {
   color: white;
   color: #fff;
   font-size: 16px;
}

div.footer-top {
    padding-top: 90px;
    padding-bottom: 250px;
    padding-left:50px;
}


div.footer-top, p, h3.footer-h3 {
    color: #2C2C2C;
    margin: 0px;
    font-size: 14px;
}

div.footer-infoentrega {
    padding-top: 20px;
}

div.footer-trabalheconosco, div.footer-formaspag {
    padding-top: 45px;
}

div.container-inner {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;   
}

/* EDIÇÃO DE DIV ADICIONANDO IMAGEM DE FUNDO */
/*html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist {
    background-image: url('http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/banner.png');
    background-repeat: no-repeat;
} */

div.footertop-col1 {
    padding-left: 30px;
}

div.footertop-col2 {
    padding-left: 40px;
}

div.footertop-col3 {
    right: 30px;
}

div.footertop-col4 {

}

div.footerbottom-col1 {

}

div.footerbottom-col2 {
    left: 60px;
    padding-top: 30px;
}

div.footerbottom-col3 {
    padding-top: 25px;

}

/* EDIÇÃO DO MENU LATERAL */
.c-sidebar.c-sidebar--categories {
    text-transform: uppercase;
    font-size: initial;
    width: 25%;
}

/* EDIÇÃO DO CONTEÚDO DA HOME */
li.level0 a {
    color: #414042;
    font-weight: bold;
}

li.level1 a {
    font-weight: normal;
    text-transform: initial;

}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper main#maincontent.page-main div.columns div.column.main div.block.widget.block-products-list.grid div.block-title strong {
    display: none;
}

/* EDIÇÃO HEADER */
#search_mini_form .search {
    background: none;
    border: none;
    width: 485px;
}

div.field.search {
    padding-right: 0px;
}

#search_mini_form .search input {
    height: 27px;
    left: 365px;
    top: 5px;
}

#search_mini_form .search button {
    width: 100px;
    height: 25px;
    top: 10px;
    right: 43px;
    opacity: inherit;
    background-color: #3F3D3E !important;
}

header.header-container div.header div.h-left p a {
    padding-right: 40px;
}

.link-hover .icon {
    font-size: 14px !important;
    color: white !important;
    text-align: end;
}

ul.header.links li {
    padding-left: 0px !important;
}

ul.header.links li a {
    color: black;
}

.link-hover .icon::before {
    content: "\e67d";
}

span.welcome {
    position: relative;
    bottom: 1vw;
}

.fa-search::before {
    font-family: FontAwesome !important;
}

.link-hove .icon {
    text-align: end;
}

strong.product-item-name {
    max-width: 300px;
    max-height: 50px;
    height: 50px;
}

header.header-container {
    position: inherit !important;
}

/*span.price {
    position: relative;
    top: 0.5vw;
}

div.product-item-actions {
    position: relative;
    top: -1.2vw;
}*/

/* EDICAO TESTIMONIAL */
.img-circle {
    width: 25%;
    height: 50%;
}

.testimo-slider .pt-testimonial-container .pt-testimonial .des::before {
    display:none;
}

/* EDICAO CONTACT PAGE */
form.form.contact fieldset.fieldset label {
    font-size: 14px;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main form#contact-form.form.contact fieldset.fieldset div.field.note.no-label {
    display: none;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div form#contact-form.form.contact fieldset.fieldset legend.legend {
    display: none;
}

label.label {
    text-align: left !important;
}

strong.cms-content-important {
    font-weight: inherit;
     font-size: 20px;
}

input.input-text {
    border: none;
    border-bottom: 1px solid #efe9e9;
}

.action.submit.primary {
    background: #CC353A;
    width: 10vw;
    height: 2vw;
    margin-top: 1vw;
    color: #fff;
    text-transform: uppercase;
}

div.field {
    border-bottom: 1px solid #EFE9E9;
}

label.label {
    color: #D1D1D1;
}

.label::after {
    color: #D1D1D1 !important;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div.col-lg-6.col-md-6 form#contact-form.form.contact div.actions-toolbar {
    float: right !important;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div.col-lg-6.col-md-6 form#contact-form.form.contact div.actions-toolbar div.primary button.action.submit.primary span {
    position: relative;
    top: -0.5vw;
    font-size: large;
    font-weight: normal;
}

.contact-form {
    text-align: end;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div.col-lg-6.col-md-6 form#contact-form.form.contact fieldset.fieldset div.field.comment.required div.control textarea#comment.input-text {
    height: 15px;
}

html body.cms-contato.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div.col-lg-6.col-md-6 form#contact-form.form.contact fieldset.fieldset div.field.comment.required div.control {
    float: none;
}
/* EDIÇÃO LISTA PRODUTOS */
.add-to-links-secondary {
    display: none;
}

a.product.photo.product-item-photo span.product-image-container {
    width: 210px !important;
}

a.product.photo.product-item-photo span.product-image-container span.product-image-wrapper img.product-image-photo {
    height: 175px;
    width: 210px;
}

div.product-item-details strong.product.name.product-item-name {
    margin-left: 2vw;
    margin-top: -1.8vw;
    
}

div.product-item-info div.product-item-details div.product-item-actions div.add-to-cart-primary form button.tocart {
     width: 150px;
    height: 25px;
}

button.tocart span {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    bottom: 0.7vw;
}
/* EDICAO PAGE CURSOS */
html body.cms-cursos.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main ul.cursos.col-lg-12 li.col-lg-4 h3 a {
    color: #CC353A;
}

html body.cms-cursos.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main {
    padding-left: 10%;
    padding-right: 10%;
}

p.text-curso.dois {
    padding-bottom: 1vw;
}

html body.cms-cursos.cms-page-view.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main p.text-curso {
    text-align: center;
    font-size: 1.3rem;
}
ul.cursos {
    list-style-type: none;
}

/* EDICAO CARRINHO DE COMPRAS */
button#top-cart-btn-checkout.action.primary.checkout {
    background: #CC353A;
}

a.action.viewcart {
    background: #CC353A !important;
}

ol#mini-cart.minicart-items li.item.product.product-item div.product div.product-item-details strong.product-item-name {
    max-width: none;
}

/* EDICAO PRODUTO VIEW */
a#tab-label-description-title.data.switch {
    display: none;
}
.data.item.title.active::after {
    content: 'Descrição';
    color: #333;
    font-size: 20px;
    font-weight: 600px;
}

.catalog-product-view .product.info .product.data.items .item a {
    text-transform: none;
}

div#tab-label-description {
    float: left;
}

div#tab-label-reviews.data.item.title {
    display: none;
}

.product.data.items > .item.title {
    float: left;
}

a#tab-label-additional-title.data.switch {
    display: none;
}

div.block.related div.block-title.title {
    display: inherit;
}


div.column.main div.block.upsell div.block-title.title {
    display: inherit;
}

div.column.main div.product.info.detailed div.product.data.items {
    display: none;
}

div.column.main div.product-info-main div.product-social-links {
    display: none;
}

div.column.main div.block.related div.block-title.title strong#block-related-heading {
    padding-top: 0px;
    margin-top: 0px;
}

div.column.main div.block.upsell div.block-title.title strong#block-upsell-heading {
    padding-top: 0px;
    margin-top: 0px;
}

/* EDIÇÃO PAGE SOBRE NÓS */
.about-text {
    margin: 24px;
    text-align: center;
}

/* EDIÇÃO PAGE BLOG */
h1.page-title {
    width: 100%;
    text-align: center;
}

html body.blog-index-index.page-layout-2columns-right div.page-wrapper main#maincontent.page-main div.page-title-wrapper h1.page-title span.base {
    text-align: center;
}

html body.blog-index-index.page-layout-2columns-right div.page-wrapper main#maincontent.page-main div.columns div.c-sidebar.c-sidebar--categories {
    display: none;
}

h2.post-title a.post-item-link {
    color: #a03336;
}

div.post-content a.post-read-more {
    color: #a03336;
}

div.post-info.clear {
    display: ruby;
}

div.item.post-posed-date {
    display: inherit;
}

div.item.post-categories {
    display: inherit;
}

div.item.post-categories a {
    color: #777777;
}

/* Pagina do post do blog */
html body.blog-post-sabonete-mix-laranja-canela.blog-post-view.page-layout-2columns-right div.page-wrapper main#maincontent.page-main div.columns div.c-sidebar.c-sidebar--categories {
    display: none;
}

/* EDIÇÃO CATEGORIA BLOG */
html body.blog-category-sabonetes.blog-category-view.page-layout-2columns-right div.page-wrapper main#maincontent.page-main div.columns div.c-sidebar.c-sidebar--categories {
    display: none;
}

/* EDIÇÃO CARRINHO DE COMPRAS */
#maincontent > div.columns > div > div.block.crosssell > div.block-title.title {
    display: block;
}

html body.checkout-cart-index.page-layout-1column div.page-wrapper main#maincontent.page-main div.columns div.column.main div.block.crosssell div.block-title.title strong#block-crosssell-heading {
    padding-top: 0px;
    margin-top; 0px;
}

/* NO ROUTE PAGE */
dl {
  margin-left: 40px;
}

html body.cms-no-route.cms-page-view.page-layout-2columns-left div.page-wrapper main#maincontent.page-main div.columns div.column.main dl dd ul.disc li a {
    color: #777777;    
}
