.page-header {

background-color: #CC353A;
height: 100px;
}

.header.content { padding: 0 !important; }

.wrapper {     visibility: hidden; }

.block-search .action.search > span {
	border: 0 !important ;
	clip: auto  !important;
	/* height: -10px  !important ; */
	margin: -1px  !important;
	overflow: visible  !important;
	padding: 0 0 23px 0 !important;
	position: absolute  !important;
	width: 65px  !important;
	margin-top: 5px !important;
	background-color: #3F3D3E;
	color: #fff;
    text-transform: uppercase;
	/* margin-top: 2px !important; */
 }

button.search {
	padding: 0 0 0 0 !important;
margin-right: 65px !important;
/* background-color: #3F3D3E !important; */

}

.showcart > span:nth-child(1)
{
	clip: auto  !important;
	overflow: visible  !important;

}


.block-search {
float: left !important;
    width: 485px !important;
}

.page-wrapper {
	margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 1350px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */


}


p { color: blue !important; }
