/* EDIÇÃO MENU LATERAL ADICIONANDO ICONS */
ul.o-list:nth-child(2) {
    padding-right: 0px;
}

li.level0:nth-child(1) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_essencias.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(2) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_bases.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(3) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_materia.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(4) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_frascosvidro.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
} 

li.level0:nth-child(5) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_frascosplastico.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(7) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_rolhas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(8) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_formas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(9) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_varetas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(10) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_embalagens.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(11) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_velas.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}

li.level0:nth-child(12) {
    background-image: url(http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/menu_materialapoio.png);
    background-repeat: no-repeat;
    padding-top: 0.8vw;
    padding-left: 2.4vw;
}


/* FIM EDIÇÃO MENU LATERAL ADICIONANDO ICONS */

/* EDIÇÃO PRODUTOS HOME */
.block.widget.block-products-list.grid {
    padding-left: 1.5vw;
}

product-image-wrapper {
    width: 14.1vw;
    height: 10.4vw;
    padding-bottom: 0px;
}

/* FIM DA EDIÇÃO DE PRODUTOS HOME */

div.product-item-info {
   border: 0; 
   width: 205px;
   height: 340px;       
}

a.product-item-link {
    font-size: 12px;
}

span.price {
    color: #CF4348;
}

.product-item-actions .actions-primary + .actions-secondary {
    display: none;
}

.action.tocart.primary {
    width: 115px;
    height: 20px;
    background-color: #37D737;
    margin-top: -10px;
    margin-left: 55px;
}

.action.tocart.primary span {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    bottom: 0.7vw;
}

li.product-item {
    border: 0;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;

}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct {
    padding-top: 15vw;
}

/*  */
.level1 {
    font-weight: lighter;
}

@supports (width: 100vw) {
  .full-banner {
    max-width: 100vw;
  }
  @media all and (min-width: 40rem) {
    .full-banner {
       transform: translateX(calc((56rem - 100vw)/2));
    }
  }
   @media all and (min-width: 60rem) {
    .full-banner {
       transform: translateX(calc((70rem - 100vw)/2));
    }
  }
}
/*.full-banner {
    max-width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -60vw;
    margin-right: -50vw;
} */

/* EDIÇÃO TITLE e sider bars */
div.block-title {
    display: none;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title {
    display: none;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title h2.title, html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.gruod-title div.text {
   /* display: none; */
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist div.cat_top {
    display: none;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct {
    margin-top: -900px;
}

.owl-prev, .owl-next {
    display: none;
}

.grud h3 {
    border-bottom: 1px solid #CC353A;
    text-transform: uppercase;
}

div.item {
    display: none;    
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div div.container-inner div.widget.box-section.block-recent-posts div.row div.ptowl.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item.active div.item {
    display: block;
}
/* NEWSLETTER BUTTON */
html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper footer.page-footer div.footer-container div.footer-newsletter div.container-inner div.newsletter form#newsletter-validate-detail.form.subscribe div.control button.action.subscribe.primary {
    background-color: #C20E14;
}

.footer-newsletter .newsletter .newsletter-title {
    padding-top: 10px;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper footer.page-footer div.footer-container div.footer-newsletter {
    padding-bottom: 90px;
}

/* FIM NEWSLETTER */

div.footer-redesocial {
    padding-left: 80px;
}

.sidebar.sidebar-additional {
    display: none;
}

.c-sidebar.c-sidebar--categories h3{
    display: none;
}
/* EDIÇÃO MENU E SIDE BAR */

html body.cms-home.cms-page-view.page-layout-2columns-left div.page-wrapper main#maincontent.page-main div.columns div.sidebar.sidebar-additional {
    display: none;
}

/* EDIÇÃO MAIS VISTOS */
html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct div.container-inner div.row div.col-sm-4 div.pt-recentproduct-container div.owl-container ul.ptowl.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item.active li.item div.product-items {
    width: 26.1vw;
    height: 12vw;
}

.buybuttom {
    width: 13.5vw;
    height: 1.8vw;
    background: #37D737;
}

.buybuttom:hover {
    background: #37D737;
    border: none;
}

.span-comprar {
    position: relative;
    bottom: 0.5vw;
}

.price-box  .price-from {
    display: none;
}

.price-box .price {
    color: #C5181D;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.gruod-pruduct div.container-inner div.row div.col-sm-4 div.pt-recentproduct-container div.owl-container ul.ptowl.owl-carousel.owl-theme div.owl-wrapper-outer div.owl-wrapper div.owl-item.active li.item div.product-items div.item-inner div.des.media-body div.add-to-links-secondary {
    display: none;
}

/* FIM MAIS VISTOS */

/* EDIÇÃO DO FOOTER */

header_style {
   color: white;
   color: #fff;
   font-size: 16px;
}

div.footer-top {
    padding-top: 90px;
    padding-bottom: 250px;
    padding-left:50px;
}


div.footer-top, p, h3.footer-h3 {
    color: #2C2C2C;
    margin: 0px;
    font-size: 14px;
}

div.footer-infoentrega {
    padding-top: 20px;
}

div.footer-trabalheconosco, div.footer-formaspag {
    padding-top: 45px;
}

div.container-inner {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;   
}

/* EDIÇÃO DE DIV ADICIONANDO IMAGEM DE FUNDO */
/*html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper div.content-home div.main-container div.container-inner div.pt_categorytop.catlist {
    background-image: url('http://www.cantinhodasessencias.com.br/loja/pub/media/wysiwyg/banner.png');
    background-repeat: no-repeat;
} */

div.footertop-col1 {
    padding-left: 30px;
}

div.footertop-col2 {
    padding-left: 40px;
}

div.footertop-col3 {
    right: 30px;
}

div.footertop-col4 {

}

div.footerbottom-col1 {

}

div.footerbottom-col2 {
    left: 60px;
    padding-top: 30px;
}

div.footerbottom-col3 {
    padding-top: 25px;

}

/* EDIÇÃO DO MENU LATERAL */
.c-sidebar.c-sidebar--categories {
    text-transform: uppercase;
    font-size: initial;
    width: 25%;
}

/* EDIÇÃO DO CONTEÚDO DA HOME */
li.level0 a {
    color: #414042;
    font-weight: bold;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper main#maincontent.page-main div.columns div.column.main div.block.widget.block-products-list.grid div.block-title strong {
    display: none;
}

/* EDIÇÃO HEADER */
#search_mini_form .search {
    background: none;
    border: none;
    width: 485px;
}

#search_mini_form .search input {
    height: 27px;
    left: 365px;
    top: 5px;
}

#search_mini_form .search button {
    width: 100px;
    height: 25px;
    top: 0.7vw;
    right: 3.2vw;
    opacity: inherit;
    background-color: #3F3D3E !important;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper header.header-container div.header div.h-left p a {
    padding-right: 40px;
}

.icon {
    font-size: 14px !important;
    color: white !important;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper header.header-container div.header div.h-right div.absolute div.link-hover div div.my-acount ul.header.links li {
    padding-left: 0px;
}

html body.cms-home.cms-index-index.page-layout-2columns-left div.page-wrapper header.header-container div.header div.h-right div.absolute div.link-hover div div.my-acount ul.header.links li a {
    color: black;
}

